@import "./css/reset.css";

body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.delete{
    display: none;
}
button.buttonOff{
    display: none;
}  
button.buttonOn{
    display: block;
}
.tasks__container{
    display: flex;
}